/********* NAVBAR ***********/ 
:root{
  --primary-white:#ffff; 
  --primary-purple:#800080;  
  --primary-dark:rgba(255,255,255,0); 
}
nav{
  z-index: 2;
}
.navbar-brand{
  max-width: 17.25rem;
  img{
    width:13.25rem; 
  }
}
.navbar-nav >li > a{
  margin-right:0.75rem ;
  margin-left:0.75rem ;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  border-top: 0.1875rem solid var(--primary-purple);
}
.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-purple);
}



  /***Links***/ 
  .nav-link{
    letter-spacing: 0.0375rem;
    cursor: pointer;
    color: var(--primary-white); 
    text-transform: uppercase;
    font-family: 'Open Sans','Roboto', sans-serif,Condensed,'Ubuntu','Roboto Condensed';
  }

  /********Nav icon*************/
    button{
      border:none !important; 
    }
  